<div class="about mt-3 text-center">
    <div class="top-main">
        <h1 class="top-title">
          Welcome to <strong><i class="fas fa-book pr-1"></i>Bookers !!</strong>
        </h1>
    </div>
</div>