<div class="top">
  <div class="top-header">
    <h1 class="top-title">
      welcome to <strong><span></span>Bookers !!</strong>
    </h1>
    <p>In <strong><span></span>Bookers,</strong></p>
  </div>
  
  <div class="top-body">
    <p class="top-body-text">you can share and exchange your opinions , inpressions , and emotions</p>
    <p class="top-body-text">about various books!</p>
    
    <div class="top-body-buttons">
      
    </div>
  </div>
  
  
  
</div>